/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

.header {
  padding: .4rem 0;
  text-align: center;
  background-color: #cca353;
  position: fixed;
  -webkit-transform: translateZ(0);
  width: 100%;
  opacity: .9;
  filter:alpha(opacity=90);       /* IE */
  -moz-opacity:0.90;              /* 老版Mozilla */
  -khtml-opacity:0.90;              /* 老版Safari */
  z-index: 10;
}

.headerWrapper {
  /* padding: 0 1rem; */
  width: 90%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 1300px) {
  .headerWrapper{
    width: calc(1300px*0.9);
  }
}

.header .logo {
  vertical-align: middle;
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
}

.header .logo:hover {
  cursor: pointer;
}

.header span {
  vertical-align: middle;
  font-size: 2.2rem;
  font-weight: bolder;
  color: #fff;
}

.header .span:hover {
  cursor: pointer;
}

.HeaderButtons {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -0.5rem;
  z-index: 10;
}

.HeaderButtons a {
  text-decoration: none;
  color: white;
  background-color: none;
  border: none;
  height: 100%;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  font-weight: 500;
}

.HeaderButtons a:hover {
  cursor: pointer;
}

.BodyContent {
  width: 100%;
}