@import "bourbon/bourbon";

.LowerBody {
    width: 100%;
    text-align: center;
    background-color: #f0d601;
    padding: 4rem 0 6rem;
}

.LowerBodyWrapper {
    width: 90%;
    margin: 2rem auto;
    display:flex;
    height: 30rem;
}

@media only screen and (min-width: 1300px) {
    .LowerBodyWrapper {
      width: calc(1300px*0.9);
    }
}

.LowerBodyListWrapper {
    box-sizing: border-box;
    width: calc(100%/3);
    height: 30rem;
    padding: 0 1rem;
    vertical-align: top;
    transition: all .5s ease 0s;
}

.LowerBodyList {
    width: 100%;
    height: 100%;;
    background-repeat: no-repeat;
    position: relative;
}

.left .LowerBodyList {
    background-position: top -1rem left -3rem;
}

.middle .LowerBodyList {
    background-position: top -10rem left 60%;
}

.right .LowerBodyList {
    background-position: top -1rem left -1.5rem;
}

.LBListContent {
    height: 12.5rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.left .LBListContent{
    background-color: #de574a;
}

.middle .LBListContent{
    background-color: #ff9a19;
}

.right .LBListContent{
    background-color: #7d7d7d;
}

.LBListTitle {
    margin: 0.8rem 1rem;
    font-size: 2.6rem;
    font-weight: 600;
    color: white;
    text-align: left;
} 

.LBListDescription{
    margin: 0 1rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
    text-align: left;
}

.ButtonWrapper {
    width: 100%;
    text-align: left;
}

.LBListContent button {
    outline:none;
    color: white;
    background-color: #cca353;
    font-size: 1rem;
    padding: 0.7rem 1.1rem;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    position: absolute;
    left: 1rem;
    bottom: 1.5rem;
} 

.LBListContent button:hover {
    cursor: pointer;
    background-color: #a7874b;
}

.left:hover {
    width: 60%;
}

.middle:hover {
    width: 60%;
}

.right:hover {
    width: 60%;
}

