.searchBarWrapper {
  height: 28rem;
  overflow: hidden;
  background-image: url('./background_search_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* animation 前后的div size 是计算进去的
transition 不改变div size */

.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 28rem;
    width: 90%;
    margin: 0 auto;
    transition: all 0.5s ease;  
}

@media only screen and (min-width: 1300px) {
  .SearchBar {
    width: calc(1300px*0.9);
  }
}

.SearchBar:hover {
  transform: scale(1.05);
}
  
  .SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: #ffffff;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    width: 4.33rem;
    border-bottom: 1px solid #fff;
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .83rem;
    transition: color .25s;
  }
  
  .SearchBar-sort-options li:hover {
    color: #d4cfcf;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
  }
  
  .SearchBar-fields {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
  }
  
  .SearchBar-fields .Term,
  .SearchBar-fields .LocationWrapper {
    width: 21rem;
    padding: .66rem 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .77rem;
    font-weight: 500;
    background-color: white;
  }

  .SearchBar-fields .Term {
    margin-right: 2.22rem;
  }

  .LocationWrapper {
    position: relative;
  }
  
  .LocationWrapper .pin {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
  }

  .LocationWrapper input {
    vertical-align: middle;
    border: none;
    font-size: .77rem;
    font-weight: 500;
    width: 80%;
  }

  .autoCompleteWrapper {
    border-left: 1px solid white;
    /* border-right: 1px solid red; */
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 23rem;
    top: 100%;
    left: 0;
    background-color: white;
  }

  .autoCompleteList {
    width: 100%;
  }

  .autoCompleteList li {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid lightgray;
  }

  .Prediction-submit {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    cursor:pointer;
    margin-bottom: 1px solid red;
  }

  .Prediction-submit:hover {
    background-color: lightgray;
  }

  .buttonFill {
    text-align: left;
  }

  .aimIcon {
    vertical-align: middle;
    height: 1.1rem;
    width: 1.1rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }

  .text {
    vertical-align: middle;
    display: inline-block;
    font-size: .77rem;
    font-weight: 500;
    overflow: scroll;
  }

  .poweredBy {
    text-align: right;
  }

  .poweredBy span {
    font-size: 0.8rem;
    vertical-align: middle;
    color: gray;
  }

  .poweredByIcon {
    height: 1.1rem;
    width: 1.1rem;
    margin: 0.2rem 1rem 0.2rem 0.5rem;
    vertical-align: middle;
  }
  
  .SearchBar-submit {
    text-align: center;
  }
  
  .SearchBar-submit a {
    border-radius: 4px;
    padding: .72rem 1.6rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
  }
  
  .SearchBar-submit a:hover {
    cursor: pointer;
    background-color: #a7874b;
  }
  
  @media only screen and (max-width: 560px) {
    .SearchBarWrapper {
      background-image: url('./background_search_mobile.jpg');
    }
  
    .SearchBar-sort-options ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }
  }